@import "tailwindcss";



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html, body {
  color: #Fff;
  background: #1f1934 ;
}

main{
  background: #393a47 ;
  height: 100vh;
  height: 100dvh;
}

